.playerlist {
    height: 800px;
    width: 750px;
    border: 2px solid black;
}

.position-navigation {
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.player-display {
    max-height: 770px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.player-display::-webkit-scrollbar {
    display: none;
}