.player {
    height: 57px;
    box-sizing: border-box;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #2D3142;
    color: white;
    margin: 5px;
    overflow: hidden;
    border-radius: 5px;
    border: 2px solid black;
}

.player input {
    width: 100px;
}

.player button {
    height: 30px;
    width: 100px;
    border: 2px solid black;
    border-radius: 10px;
    background: #417B5A;
    color: white;
}

.player-name {
    margin-right: 10px;
}

.player-team {
    color: gray;
}