h1 {
  margin: 0;
}

.App {
  height: 100vh;
  box-sizing: border-box;
  padding-top: 20px;
  text-align: center;
  background: #2D3142;
  color: white;
}

.App header {
  height: 5vh;
}

.main-flex {
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}